.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.greeting {
  font-family: Book Antiqua;
  color: #B8860B;
  font-size: large;
}
.wel {
  color: #CD5C5C;
  font-family: "Rockwell Extra Bold";
}
